<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" pattern="[A-Za-z]\w+" required minlength="4" maxlength="16">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" required minlength="4" maxlength="16"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" min="1" max="100"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>
    <input type="submit" value="Add"/>
</form>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>