<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table border="1">
        <caption>All users of database</caption>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td th:utext="${user.getAge()}"></td>
        </tr>
    </table>
    <br/>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>