<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to spring boot security page!</h1>
<div>
    <p th:text="'Username: ' + ${user.getUsername}"></p>
    <p th:text="'Password: ' + ${user.getPassword}"></p>
    <p th:text="'Age: ' + ${user.getAge}"></p>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>